<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mybookmarket</display-name>
  
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.ghq.controller.BookServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BookTypeServlet</servlet-name>
    <servlet-class>com.ghq.controller.BookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoteServlet</servlet-name>
    <servlet-class>com.ghq.controller.VoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PicCodeServlet</servlet-name>
    <servlet-class>com.ghq.controller.PicCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.ghq.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.ghq.controller.OrderServlet</servlet-class>
  </servlet>





  
  <servlet-mapping>
    <servlet-name>BookTypeServlet</servlet-name>
    <url-pattern>/BookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoteServlet</servlet-name>
    <url-pattern>/VoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PicCodeServlet</servlet-name>
    <url-pattern>/PicCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>